<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>netctoss2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginAction</display-name>
    <servlet-name>AdminLoginAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.AdminLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginAction</servlet-name>
    <url-pattern>/admin/AdminLoginAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminInfoAction</display-name>
    <servlet-name>UpdateAdminInfoAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.UpdateAdminInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminInfoAction</servlet-name>
    <url-pattern>/admin/UpdateAdminInfoAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminPswAction</display-name>
    <servlet-name>UpdateAdminPswAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.UpdateAdminPswAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminPswAction</servlet-name>
    <url-pattern>/admin/UpdateAdminPswAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleListAction</display-name>
    <servlet-name>RoleListAction</servlet-name>
    <servlet-class>com.netctoss2.action.role.RoleListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleListAction</servlet-name>
    <url-pattern>/role/RoleListAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoleAction</display-name>
    <servlet-name>UpdateRoleAction</servlet-name>
    <servlet-class>com.netctoss2.action.role.UpdateRoleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoleAction</servlet-name>
    <url-pattern>/role/UpdateRoleAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShowAction</display-name>
    <servlet-name>UpdateShowAction</servlet-name>
    <servlet-class>com.netctoss2.action.role.UpdateShowAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShowAction</servlet-name>
    <url-pattern>/role/UpdateShowAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoleAction</display-name>
    <servlet-name>AddRoleAction</servlet-name>
    <servlet-class>com.netctoss2.action.role.AddRoleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoleAction</servlet-name>
    <url-pattern>/role/AddRoleAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelRoleAction</display-name>
    <servlet-name>DelRoleAction</servlet-name>
    <servlet-class>com.netctoss2.action.role.DelRoleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelRoleAction</servlet-name>
    <url-pattern>/role/DelRoleAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListAction</display-name>
    <servlet-name>AdminListAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.AdminListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListAction</servlet-name>
    <url-pattern>/admin/AdminListAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelAdminAction</display-name>
    <servlet-name>SelAdminAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.SelAdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelAdminAction</servlet-name>
    <url-pattern>/admin/SelAdminAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminAction</display-name>
    <servlet-name>AddAdminAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.AddAdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminAction</servlet-name>
    <url-pattern>/admin/AddAdminAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAdminInfoAction</display-name>
    <servlet-name>ShowAdminInfoAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.ShowAdminInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAdminInfoAction</servlet-name>
    <url-pattern>/admin/ShowAdminInfoAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAdminInfoAction</display-name>
    <servlet-name>ManageAdminInfoAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.ManageAdminInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAdminInfoAction</servlet-name>
    <url-pattern>/admin/ManageAdminInfoAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelAdminAction</display-name>
    <servlet-name>DelAdminAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.DelAdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAdminAction</servlet-name>
    <url-pattern>/admin/DelAdminAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetAdminPswAction</display-name>
    <servlet-name>ResetAdminPswAction</servlet-name>
    <servlet-class>com.netctoss2.action.admin.ResetAdminPswAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetAdminPswAction</servlet-name>
    <url-pattern>/admin/ResetAdminPswAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeeListAction</display-name>
    <servlet-name>FeeListAction</servlet-name>
    <servlet-class>com.netctoss2.action.fee.FeeListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeListAction</servlet-name>
    <url-pattern>/fee/FeeListAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeeRankAction</display-name>
    <servlet-name>FeeRankAction</servlet-name>
    <servlet-class>com.netctoss2.action.fee.FeeRankAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeRankAction</servlet-name>
    <url-pattern>/fee/FeeRankAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFeeAction</display-name>
    <servlet-name>CreateFeeAction</servlet-name>
    <servlet-class>com.netctoss2.action.fee.CreateFeeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFeeAction</servlet-name>
    <url-pattern>/fee/CreateFeeAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUpdateFeeAction</display-name>
    <servlet-name>SaveUpdateFeeAction</servlet-name>
    <servlet-class>com.netctoss2.action.fee.SaveUpdateFeeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUpdateFeeAction</servlet-name>
    <url-pattern>/fee/SaveUpdateFeeAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFeeAction</display-name>
    <servlet-name>UpdateFeeAction</servlet-name>
    <servlet-class>com.netctoss2.action.fee.UpdateFeeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFeeAction</servlet-name>
    <url-pattern>/fee/UpdateFeeAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFeeAction</display-name>
    <servlet-name>ShowFeeAction</servlet-name>
    <servlet-class>com.netctoss2.action.fee.ShowFeeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFeeAction</servlet-name>
    <url-pattern>/fee/ShowFeeAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenFeeAction</display-name>
    <servlet-name>OpenFeeAction</servlet-name>
    <servlet-class>com.netctoss2.action.fee.OpenFeeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenFeeAction</servlet-name>
    <url-pattern>/fee/OpenFeeAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelFeeAction</display-name>
    <servlet-name>DelFeeAction</servlet-name>
    <servlet-class>com.netctoss2.action.fee.DelFeeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelFeeAction</servlet-name>
    <url-pattern>/fee/DelFeeAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountsListAction</display-name>
    <servlet-name>AccountsListAction</servlet-name>
    <servlet-class>com.netctoss2.action.accounts.AccountsListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsListAction</servlet-name>
    <url-pattern>/accounts/AccountsListAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountsAction</display-name>
    <servlet-name>AddAccountsAction</servlet-name>
    <servlet-class>com.netctoss2.action.accounts.AddAccountsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountsAction</servlet-name>
    <url-pattern>/accounts/AddAccountsAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAccountsAction</display-name>
    <servlet-name>ShowAccountsAction</servlet-name>
    <servlet-class>com.netctoss2.action.accounts.ShowAccountsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAccountsAction</servlet-name>
    <url-pattern>/accounts/ShowAccountsAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelAccountsAction</display-name>
    <servlet-name>SelAccountsAction</servlet-name>
    <servlet-class>com.netctoss2.action.accounts.SelAccountsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelAccountsAction</servlet-name>
    <url-pattern>/accounts/SelAccountsAction.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CodingFilter</display-name>
    <filter-name>CodingFilter</filter-name>
    <filter-class>com.netctoss2.filter.CodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountsAction</display-name>
    <servlet-name>UpdateAccountsAction</servlet-name>
    <servlet-class>com.netctoss2.action.accounts.UpdateAccountsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountsAction</servlet-name>
    <url-pattern>/accounts/UpdateAccountsAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccStateAction</display-name>
    <servlet-name>UpdateAccStateAction</servlet-name>
    <servlet-class>com.netctoss2.action.accounts.UpdateAccStateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccStateAction</servlet-name>
    <url-pattern>/accounts/UpdateAccStateAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Services</display-name>
    <servlet-name>Services</servlet-name>
    <servlet-class>com.netctoss2.entity.Services</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Services</servlet-name>
    <url-pattern>/Services</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelPageSerAction</display-name>
    <servlet-name>SelPageSerAction</servlet-name>
    <servlet-class>com.netctoss2.action.services.SelPageSerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelPageSerAction</servlet-name>
    <url-pattern>/services/SelPageSerAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSerAction</display-name>
    <servlet-name>AddSerAction</servlet-name>
    <servlet-class>com.netctoss2.action.services.AddSerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSerAction</servlet-name>
    <url-pattern>/services/AddSerAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSerInfoAction</display-name>
    <servlet-name>ShowSerInfoAction</servlet-name>
    <servlet-class>com.netctoss2.action.services.ShowSerInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSerInfoAction</servlet-name>
    <url-pattern>/services/ShowSerInfoAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSerAction</display-name>
    <servlet-name>UpdateSerAction</servlet-name>
    <servlet-class>com.netctoss2.action.services.UpdateSerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSerAction</servlet-name>
    <url-pattern>/services/UpdateSerAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSerStateAction</display-name>
    <servlet-name>UpdateSerStateAction</servlet-name>
    <servlet-class>com.netctoss2.action.services.UpdateSerStateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSerStateAction</servlet-name>
    <url-pattern>/services/UpdateSerStateAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelSerAction</display-name>
    <servlet-name>SelSerAction</servlet-name>
    <servlet-class>com.netctoss2.action.services.SelSerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelSerAction</servlet-name>
    <url-pattern>/services/SelSerAction.do</url-pattern>
  </servlet-mapping>
</web-app>